h1 {
    font-size: 36px;
    margin: 30px auto;
    width: 520px;
    display: block;
}
strong {
    width: 310px;
}
.form-control {
    margin: 10px 0;
}

/*#id-button-add, #id-button-query, #id-button-folder {
    margin-left: 25px;
    float: right;
    width: 60px;
}*/

#id-div-folder {
    float: left;
    width: 90px;
}
#id-div-input {
    float: left;
}
#id-button-folder {
    height: 34px;
    width: 90%;
    margin: 10px 0;
}

#id-div-ground {
    position: fixed;
    top: 0px;
    left: 0px;
    background: black;
    opacity: 0.5;
    width: 100%;
    height: 100%;
}

.alert-box {
    background: white;
    width: 330px;
    height: 190px;
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-color: orange;
    border: 5px;
    border-style: solid;
}
.alert-off {
    display: none;
}
.text-position {
    width: 100%;
    height: 40px;
    text-align: center;
    font-size: 30px;
    margin: 10px 0px;
}
div#id-div-message {
    font-size: 16px;
    padding-top: 15px;
}
.alert-btn {
    width: 80px;
    margin: 10px 0;
}
#id-button-cancel {
    margin-left: 58px;
    margin-right: 20px;
}
#id-button-ok {
    margin-left: 20px;
    margin-right: 58px;
}
input#id-input-newFolder {
    width: 126px;
    border: none;
    color: black;
    float: right;
    margin: auto 19px;
}
